body {
    color: rgb(226, 93, 93);
    height: 100vh;
}
img {
    display: block;
    margin: 0 auto;
}
.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.sound-button {
 background-color: beige;
 border: 3px beige;
 border-radius: 20px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.sound-button:hover {
    background-image: url("../images/head.gif");
    background-size: cover;
    background-position: center;
    color: white;
    cursor: pointer––
    
}
